# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
venv311/
env/
.env

# Saved models & outputs
saved_models/
*.pkl
*.np
*.h5
*.keras

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp files
*.tmp
grafana-deploy/
